.btn-floating {
  margin-left: 10px;
  margin-top: 10px;
}

.container {
  margin-top:  80px;
}

.white{
  background-color: white;
}

thead {
  margin:  !important 50px;
}

.gray {
  background-color: lightgray;
}

.modalButtons {
  text-align: center;
}

.btn   {
color: black;
margin: 15px;
}

.hidden{
  visibility: hidden;
}

.modal { width: 75% !important ; max-height: 100% !important }
