<div class="container row">
  <div class="col l6 offset-l4 agenda">
  <table class="centered" >
   <thead>
     <tr>
       <th>Time</th>
       <th>Miles</th>
       <th>Mode</th>
     </tr>
   </thead>
   <tbody [class]="setBackground(i)" *ngFor="let triplog of triplogs; let i = index">
     <tr  *ngFor="let segment of triplogs[i].segments; let tripNumber = index;">
       <td>{{segment.dateTime | date}}</td>
       <td>{{segment.miles}}</td>
       <td>{{segment.mode}}</td>
     </tr>
   </tbody>
 </table>
 </div>
</div>
