<div class="container row">
  <div class="col l5 m12 s12">
    <div class="row">
      <app-add-triplog [lastTriplog]='latestTriplog'></app-add-triplog>
    </div>
  </div>
  <div class="col l6 m12 s12 offset-l1 ">
    <table class="centered agenda">
      <thead>
       <tr>
        <th>Time</th>
        <th>Miles</th>
        <th>Mode</th>
        <th>Remove</th>
        <th>Edit</th>
        <th>Suggestions<th>
       </tr>
      </thead>
    <tbody [class]="setBackground(i)" *ngFor="let triplog of triplogs; let i = index">
      <tr *ngFor="let segment of triplogs[i].segments; let tripNumber = index;">
        <td>{{segment.dateTime | date}}</td>
        <td>{{segment.miles}}</td>
        <td>{{segment.mode}}</td>
        <td><a [class]="checkDelete(i)" class="btn-floating btn-small waves-effect waves-light red" (click)="verifyDeletion(i, tripNumber)"><i class="material-icons">delete</i></a></td>
        <td><a [class]="checkEdit(i)"><i class="material-icons">edit</i></a></td>
        <td><a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">info</i></a></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div id="warnModal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="warnAction">
   <div class="modal-content">
    <h4 class="center-align">Delete Your Log</h4>
    <p class="center-align">Are you sure you want to delete this log?</p>
    <div class="row modalButtons">
      <a (click)="cancelDelete()" class="waves-effect waves-light btn yellow">Cancel</a>
      <a (click)="checkIfDeleteOrUpdate()" class="waves-effect waves-light btn confirmDeleteButton red pulse">Delete</a>
    </div>
   </div>
 </div>
</div>
