<div class="container">
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p class="center-align">Kilometers Travelled</p>
            <p class="stats-info">{{totalKiloTravelled}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p class="center-align">Bike Kilometers Travelled</p>              
            <p class="stats-info">{{bikeKiloTravelled}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
              <p class="center-align">Dollars Saved</p>              
              <p class="stats-info">{{dollarsSaved}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-chart></app-chart>

