.btn-floating {
  margin-left: 10px;
  margin-top: 10px;
}

.container {
  margin-top:  80px;
}

.white{
  background-color: white;
}

table.agenda.bordered {
  background-color: #545454;
  border-radius: 25px;
}

thead {
  color: #f0c441;
  font-size: 125%;
  margin:  !important 50px;
}

.gray {
  background-color: lightgray;
}

.modalButtons {
  text-align: center;
}

.btn   {
color: black;
margin: 15px;

}

.hidden{
  visibility: hidden;
}

.modal {
   width: 75% !important ; max-height: 100% !important
 }
