<div class="container row">
  <div class="col l3 m12 s12">
    <div class="row">
      <app-add-triplog [lastTriplog]='latestTriplog' (updateListEmitter)="getTriplogs()"></app-add-triplog>
    </div>
  </div>
  <div class="col l8 m12 s12 offset-l1 table">
    <table class="agenda bordered">
      <thead>
       <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Miles</th>
        <th>Mode</th>
        <th>Remove</th>
        <th>Edit</th>
        <th>Suggestions</th>
       </tr>
      </thead>
    <tbody [class]="setBackground(i)" *ngFor="let triplog of triplogs; let i = index">
      <tr *ngFor="let segment of triplogs[i].segments; let tripNumber = index;">
        <td>{{triplog.date | date}}</td>
        <td>{{segment.dateTime | date:'shortTime'}}</td>
        <td>{{segment.miles}}</td>
        <td>{{segment.mode}}</td>
        <td><a [class]="checkDelete(i)" (click)="verifyDeletion(i, tripNumber)"><i class="material-icons">delete</i></a></td>
        <td><a [class]="checkEdit(i)" (click)="openEdit(i, tripNumber)"><i class="material-icons">edit</i></a></td>
        <td><a [class]="checkInfo(i)"><i class="material-icons">comment</i></a></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div id="warnModal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="warnAction">
   <div class="modal-content">
    <h4 class="center-align">Delete Your Log</h4>
    <p class="center-align">Are you sure you want to delete this log?</p>
    <div class="row modalButtons">
      <a (click)="cancelDelete()" class="waves-effect waves-light btn yellow">Cancel</a>
      <a (click)="checkIfDeleteOrUpdate()" class="waves-effect waves-light btn confirmDeleteButton red pulse">Delete</a>
    </div>
   </div>
 </div>
 <div id="editModal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="editAction">
  <div class="modal-content">
    <h4 class="center-align">Update your log</h4>
      <form class="editTriplogForm"  method="post" [formGroup]="editTriplogForm">
        <div class="row">
          <div class="input-field col s12">
            <input id="time" type="text" formControlName="time" materialize="pickatime" class="active">
            <label class="active" for="time">Time</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="miles" type="number" [value]="0" class="active validate" formControlName="miles">
            <label class="active" for="miles">Miles</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col-s12">
            <select class="label" materialize="material_select" [materializeSelectOptions]="type" formControlName="mode">
              <option *ngFor="let tripmode of tripModes" [value]="tripmode">{{tripmode}}</option>
            </select>
          </div>
        </div>
      </form>
      <div class="row modalButtons">
        <a (click)="cancelEdit()" class="waves-effect waves-light btn yellow">Cancel</a>
        <a (click)="completeEdit()" [class]="validate()">Update</a>
      </div>
    </div>
  </div>
</div>
