.nav-wrapper {
  background-color: #545454;
  color: #f0c441;
}

.logoImage {
  padding: 5px;
}

nav {
  height: 100px;
  margin-bottom: 25px;
}

a {
  height: 100px;
  padding-top: 10px;
  margin-right: 5px;
}
